[Unit]
Description=Habit Tracker API
After=network.target

[Service]
Type=simple
User=filip
WorkingDirectory=/home/filip/habit-tracker
ExecStart=/home/filip/habit-tracker/.venv/bin/uvicorn api:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
